<h1>Home#Smashindex</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h3><b>Lets find smash</b></h3>
<!--this is a comment This is an app to find the best smashed avocado in Melbooure --> 

<ul>
<li> CBD </li>
<li> South Melbourne </li>
<li> Toorak </li>
<br>
<ol>
<h4><li> <span style="color:yellow"> Smash with poached egg </li></h4>
<p>
<p>
<img src="http://prod.static9.net.au/_/media/Images/Kitchen/2015/05/20/11/31/eggsavofetasmash-recipe.jpg">
<h4><li> <span style="color:red">Smash with bacon </li></h4>
<p>
<p>
<img src="http://www.bbcgoodfood.com/sites/default/files/recipe_images/recipe-image-legacy-id--1084_11.jpg">
<h4><li> <span style="color:green">Vegan smash </li></h4>
<p>
<p>
<img src="http://www.joyfulhealthyeats.com/wp-content/uploads/2014/05/Mashed-Avocado-Goat-Cheese-Sandwich-with-Roasted-Cherry-Tomatoes_4.jpg" class="img-responsive" alt="Responsive image">
<br>
<table class="table table-bordered">
<tr>
<th> Location name </th>
<th> Address </th>
<th> Rating </th>

</tr>

<tr> 
<td> Top Paddock </td>
<td> 120 Church St, Richmond </td>
<td> 9.5 </td>
</tr>
</table> 

<a class="btn btn-default" href="#" role="button">Like</a>
<button class="btn btn-default" type="submit">Love</button>
<input class="btn btn-default" type="button" value="Hate">
<p>
<a href="/home/avocado"> Go to Avocado </a>
</p>



